.menuPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menuTip {
  color: var(--td-text-color-primary);
  opacity: 0.4;
  height: 38px;
  line-height: 38px;
  text-align: center;
}
